.Layout{
    display: grid;
    grid-template-areas: "navbar conten conten"
                        "navbar conten conten"
                        "navbar conten conten";
    grid-template-columns: 15rem  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.Layout__navbar{
    grid-area: navbar;
    position: sticky;
    top: 0;
}

.Layout__main-content{
    grid-area: conten;
    padding: 1.5rem 3rem;
}